/**
 * Master Stylesheet
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* ==========================================================================
   Media Queries 
   ========================================================================== */
/* ==========================================================================
   Import base, form, typography and functions scss 
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  direction: ltr; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Typography and @Font-face Stylesheet
 *
 * This stylesheet is comprised of font-face and typography being used throughout the site.
 * Please be aware to insert all or any type related declarations to the content of the
 * site in this stylesheet. 
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Typefaces
   ========================================================================== */
/* ==========================================================================
   Typography - Sizes (h1, h2, h3, h4, h5)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: normal "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: .5em;
  margin-top: .5em; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 37px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  font-family: normal "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
  font-size: em(18);
  font-weight: normal;
  line-height: 1.4em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  margin: 0 0 1em 0;
  color: #464646; }

/* Base Type Styles Using Modular Scale ---------------------- */
.no-rgba p {
  color: #5f5f5f; }

p.lead {
  font-size: 17.5px;
  line-height: 1.6;
  margin-bottom: 17px; }

aside p {
  font-size: 13px;
  line-height: 1.35;
  font-style: italic; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0; }

.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px; }

em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-weight: bold;
  background: transparent;
  color: #fdff36;
  font-family: monaco, monospace; }

/* Misc ---------------------- */
.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.hide {
  display: none; }

.hide-override {
  display: none !important; }

.highlight {
  background: #ffff99; }

#googlemap img, object, embed {
  max-width: none; }

#map_canvas embed {
  max-width: none; }

#map_canvas img {
  max-width: none; }

#map_canvas object {
  max-width: none; }

/* Reset for strange margins by default on <figure> elements */
figure {
  margin: 0; }

/* Nicolas Gallagher's micro clearfix */
.group {
  *zoom: 1; }

.group:before, .group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

img, embed, object, video {
  max-width: 100%; }

.line {
  margin: 1.5em 0;
  border-top: 1px solid #c6c6c6;
  display: block; }

/* The Grid ---------------------- */
.row {
  max-width: 60.625em;
  margin: 0 auto; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.row.collapse .column, .row.collapse .columns {
  padding: 0; }

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.row .row.collapse {
  margin: 0; }

/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 1em;
  position: relative; }

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

.one, .row .one {
  width: 8.33333%; }

.two, .row .two {
  width: 16.66667%; }

.three, .row .three {
  width: 25%; }

.four, .row .four {
  width: 33.33333%; }

.five, .row .five {
  width: 41.66667%; }

.six, .row .six {
  width: 50%; }

.seven, .row .seven {
  width: 58.33333%; }

.eight, .row .eight {
  width: 66.66667%; }

.nine, .row .nine {
  width: 75%; }

.ten, .row .ten {
  width: 83.33333%; }

.eleven, .row .eleven {
  width: 91.66667%; }

.twelve, .row .twelve {
  width: 100%; }

.row .offset-by-one {
  margin-left: 8.33333%; }

.row .offset-by-two {
  margin-left: 16.66667%; }

.row .offset-by-three {
  margin-left: 25%; }

.row .offset-by-four {
  margin-left: 33.33333%; }

.row .offset-by-five {
  margin-left: 41.66667%; }

.row .offset-by-six {
  margin-left: 50%; }

.row .offset-by-seven {
  margin-left: 58.33333%; }

.row .offset-by-eight {
  margin-left: 66.66667%; }

.row .offset-by-nine {
  margin-left: 75%; }

.row .offset-by-ten {
  margin-left: 83.33333%; }

.push-two {
  left: 16.66667%; }

.pull-two {
  right: 16.66667%; }

.push-three {
  left: 25%; }

.pull-three {
  right: 25%; }

.push-four {
  left: 33.33333%; }

.pull-four {
  right: 33.33333%; }

.push-five {
  left: 41.66667%; }

.pull-five {
  right: 41.66667%; }

.push-six {
  left: 50%; }

.pull-six {
  right: 50%; }

.push-seven {
  left: 58.33333%; }

.pull-seven {
  right: 58.33333%; }

.push-eight {
  left: 66.66667%; }

.pull-eight {
  right: 66.66667%; }

.push-nine {
  left: 75%; }

.pull-nine {
  right: 75%; }

.push-ten {
  left: 83.33333%; }

.pull-ten {
  right: 83.33333%; }

input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  line-height: 20px;
  height: 50px;
  padding: .5em;
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0.25);
  font-family: Helvetica;
  font-size: 1em;
  color: #666;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

textarea {
  line-height: normal;
  height: auto; }

input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 9px 10px;
  margin: 1em 0;
  font-size: 1em;
  width: 100%;
  color: #fff;
  text-shadow: 0px 1px 0px #333;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  moz-box-shadow: 0px 1px 0px black, inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 0px black, inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  background: #5c4e43;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNGU0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTY4NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #5c4e43 0%, #75685f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c4e43), color-stop(100%, #75685f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5c4e43 0%, #75685f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5c4e43 0%, #75685f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5c4e43 0%, #75685f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5c4e43 0%, #75685f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c4e43', endColorstr='#75685f',GradientType=0 );
  /* IE6-8 */ }

input[placeholder] {
  color: rgba(0, 0, 0, 0.5); }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25); }

/* ==========================================================================
   Font Icons from @font-face to individual styles
   ========================================================================== */
@font-face {
  font-family: 'zocial';
  src: url("/assets/font-icons/zocial/zocial.eot?72406524");
  src: url("/assets/font-icons/zocial/zocial.eot?72406524#iefix") format("embedded-opentype"), url("/assets/font-icons/zocial/zocial.woff?72406524") format("woff"), url("/assets/font-icons/zocial/zocial.ttf?72406524") format("truetype"), url("/assets/font-icons/zocial/zocial.svg?72406524#zocial") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95305166#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'zocial';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* Zocial */
.icon-aim:before {
  content: '\22'; }

/* '&quot;' */
.icon-delicious:before {
  content: '\23'; }

/* '#' */
.icon-paypal:before {
  content: '\24'; }

/* '$' */
.icon-android:before {
  content: '\26'; }

/* '&amp;' */
.icon-smashmag:before {
  content: '\2a'; }

/* '*' */
.icon-plus:before {
  content: '\e801'; }

/* '' */
.icon-gplus:before {
  content: '\2b'; }

/* '+' */
.icon-minus:before {
  content: '\2d'; }

/* '-' */
.icon-calendar:before {
  content: '\2e'; }

/* '.' */
.icon-pinterest:before {
  content: '\31'; }

/* '1' */
.icon-w3c:before {
  content: '\33'; }

/* '3' */
.icon-foursquare:before {
  content: '\34'; }

/* '4' */
.icon-html5:before {
  content: '\35'; }

/* '5' */
.icon-ie:before {
  content: '\36'; }

/* '6' */
.icon-call:before {
  content: '\37'; }

/* '7' */
.icon-grooveshark:before {
  content: '\38'; }

/* '8' */
.icon-ninetyninedesigns:before {
  content: '\39'; }

/* '9' */
.icon-spotify:before {
  content: '\3d'; }

/* '=' */
.icon-appstore:before {
  content: '\41'; }

/* 'A' */
.icon-dribbble:before {
  content: '\44'; }

/* 'D' */
.icon-evernote:before {
  content: '\45'; }

/* 'E' */
.icon-flickr:before {
  content: '\46'; }

/* 'F' */
.icon-google:before {
  content: '\47'; }

/* 'G' */
.icon-instapaper:before {
  content: '\49'; }

/* 'I' */
.icon-klout:before {
  content: '\4b'; }

/* 'K' */
.icon-linkedin:before {
  content: '\4c'; }

/* 'L' */
.icon-meetup:before {
  content: '\4d'; }

/* 'M' */
.icon-disqus:before {
  content: '\51'; }

/* 'Q' */
.icon-rss:before {
  content: '\52'; }

/* 'R' */
.icon-skype:before {
  content: '\53'; }

/* 'S' */
.icon-twitter:before {
  content: '\54'; }

/* 'T' */
.icon-youtube:before {
  content: '\55'; }

/* 'U' */
.icon-vimeo:before {
  content: '\56'; }

/* 'V' */
.icon-windows:before {
  content: '\57'; }

/* 'W' */
.icon-yahoo:before {
  content: '\59'; }

/* 'Y' */
.icon-email:before {
  content: '\5d'; }

/* ']' */
.icon-macstore:before {
  content: '\5e'; }

/* '^' */
.icon-podcast:before {
  content: '\60'; }

/* '`' */
.icon-amazon:before {
  content: '\61'; }

/* 'a' */
.icon-cloudapp:before {
  content: '\63'; }

/* 'c' */
.icon-dropbox:before {
  content: '\64'; }

/* 'd' */
.icon-ebay:before {
  content: '\65'; }

/* 'e' */
.icon-facebook:before {
  content: '\66'; }

/* 'f' */
.icon-github:before {
  content: '\67'; }

/* 'g' */
.icon-googleplay:before {
  content: '\68'; }

/* 'h' */
.icon-itunes:before {
  content: '\69'; }

/* 'i' */
.icon-lastfm:before {
  content: '\6c'; }

/* 'l' */
.icon-gmail:before {
  content: '\6d'; }

/* 'm' */
.icon-pinboard:before {
  content: '\6e'; }

/* 'n' */
.icon-openid:before {
  content: '\6f'; }

/* 'o' */
.icon-quora:before {
  content: '\71'; }

/* 'q' */
.icon-tumblr:before {
  content: '\74'; }

/* 't' */
.icon-wordpress:before {
  content: '\77'; }

/* 'w' */
.icon-yelp:before {
  content: '\79'; }

/* 'y' */
.icon-eventbrite:before {
  content: '\7c'; }

/* '|' */
.icon-posterous:before {
  content: '\7e'; }

/* '~' */
.icon-stripe:before {
  content: '\a3'; }

/* '£' */
.icon-cart:before {
  content: '\c9'; }

/* 'É' */
.icon-print:before {
  content: '\d1'; }

/* 'Ñ' */
.icon-instagram:before {
  content: '\dc'; }

/* 'Ü' */
.icon-appnet:before {
  content: '\e1'; }

/* 'á' */
.icon-acrobat:before {
  content: '\e3'; }

/* 'ã' */
.icon-drupal:before {
  content: '\e4'; }

/* 'ä' */
.icon-buffer:before {
  content: '\e5'; }

/* 'å' */
.icon-pocket:before {
  content: '\e7'; }

/* 'ç' */
.icon-bitbucket:before {
  content: '\e9'; }

/* 'é' */
.icon-up:before {
  content: '\2191'; }

/* '↑' */
.icon-right:before {
  content: '\2192'; }

/* '→' */
.icon-down:before {
  content: '\2193'; }

/* '↓' */
.icon-home:before {
  content: '\2302'; }

/* '⌂' */
.icon-home-1:before {
  content: '\e803'; }

/* '' */
.icon-pause:before {
  content: '\2389'; }

/* '⎉' */
.icon-fast-fw:before {
  content: '\23e9'; }

/* '⏩' */
.icon-fast-bw:before {
  content: '\23ea'; }

/* '⏪' */
.icon-to-end:before {
  content: '\23ed'; }

/* '⏭' */
.icon-to-start:before {
  content: '\23ee'; }

/* '⏮' */
.icon-stop:before {
  content: '\25aa'; }

/* '▪' */
.icon-up-dir:before {
  content: '\25b4'; }

/* '▴' */
.icon-play:before {
  content: '\25b6'; }

/* '▶' */
.icon-right-dir:before {
  content: '\25b8'; }

/* '▸' */
.icon-down-dir:before {
  content: '\25be'; }

/* '▾' */
.icon-left-dir:before {
  content: '\25c2'; }

/* '◂' */
.icon-cloud:before {
  content: '\2601'; }

/* '☁' */
.icon-umbrella:before {
  content: '\2602'; }

/* '☂' */
.icon-star:before {
  content: '\2605'; }

/* '★' */
.icon-star-empty:before {
  content: '\2606'; }

/* '☆' */
.icon-check:before {
  content: '\2611'; }

/* '☑' */
.icon-left-hand:before {
  content: '\261c'; }

/* '☜' */
.icon-up-hand:before {
  content: '\261d'; }

/* '☝' */
.icon-right-hand:before {
  content: '\261e'; }

/* '☞' */
.icon-down-hand:before {
  content: '\261f'; }

/* '☟' */
.icon-th-list:before {
  content: '\2630'; }

/* '☰' */
.icon-heart-empty:before {
  content: '\2661'; }

/* '♡' */
.icon-heart:before {
  content: '\2665'; }

/* '♥' */
.icon-music:before {
  content: '\266b'; }

/* '♫' */
.icon-th:before {
  content: '\268f'; }

/* '⚏' */
.icon-flag:before {
  content: '\2691'; }

/* '⚑' */
.icon-cog:before {
  content: '\2699'; }

/* '⚙' */
.icon-attention:before {
  content: '\26a0'; }

/* '⚠' */
.icon-flash:before {
  content: '\26a1'; }

/* '⚡' */
.icon-cog-alt:before {
  content: '\26ef'; }

/* '⛯' */
.icon-scissors:before {
  content: '\2702'; }

/* '✂' */
.icon-flight:before {
  content: '\2708'; }

/* '✈' */
.icon-mail:before {
  content: '\2709'; }

/* '✉' */
.icon-edit:before {
  content: '\270d'; }

/* '✍' */
.icon-pencil:before {
  content: '\270e'; }

/* '✎' */
.icon-ok:before {
  content: '\2713'; }

/* '✓' */
.icon-ok-circle:before {
  content: '\2714'; }

/* '✔' */
.icon-cancel:before {
  content: '\2715'; }

/* '✕' */
.icon-cancel-circle:before {
  content: '\2716'; }

/* '✖' */
.icon-asterisk:before {
  content: '\2731'; }

/* '✱' */
.icon-attention-circle:before {
  content: '\2757'; }

/* '❗' */
.icon-plus-circle:before {
  content: '\2795'; }

/* '➕' */
.icon-minus-circle:before {
  content: '\2796'; }

/* '➖' */
.icon-forward:before {
  content: '\27a6'; }

/* '➦' */
.icon-ccw:before {
  content: '\27f2'; }

/* '⟲' */
.icon-cw:before {
  content: '\27f3'; }

/* '⟳' */
.icon-resize-vertical:before {
  content: '\2b0c'; }

/* '⬌' */
.icon-resize-horizontal:before {
  content: '\2b0d'; }

/* '⬍' */
.icon-eject:before {
  content: '\2ecf'; }

/* '⻏' */
.icon-star-half:before {
  content: '\e701'; }

/* '' */
.icon-ok-circle2:before {
  content: '\e702'; }

/* '' */
.icon-cancel-circle2:before {
  content: '\e703'; }

/* '' */
.icon-help-circle:before {
  content: '\e704'; }

/* '' */
.icon-info-circle:before {
  content: '\e705'; }

/* '' */
.icon-th-large:before {
  content: '\e708'; }

/* '' */
.icon-eye:before {
  content: '\e70a'; }

/* '' */
.icon-eye-off:before {
  content: '\e70b'; }

/* '' */
.icon-tag:before {
  content: '\e70c'; }

/* '' */
.icon-tags:before {
  content: '\e70d'; }

/* '' */
.icon-camera-alt:before {
  content: '\e70f'; }

/* '' */
.icon-export:before {
  content: '\e715'; }

/* '' */
.icon-print-1:before {
  content: '\e716'; }

/* '' */
.icon-retweet:before {
  content: '\e717'; }

/* '' */
.icon-comment:before {
  content: '\e718'; }

/* '' */
.icon-chat:before {
  content: '\e720'; }

/* '' */
.icon-location:before {
  content: '\e724'; }

/* '' */
.icon-trash:before {
  content: '\e729'; }

/* '' */
.icon-basket:before {
  content: '\e73d'; }

/* '' */
.icon-login:before {
  content: '\e740'; }

/* '' */
.icon-logout:before {
  content: '\e741'; }

/* '' */
.icon-resize-full:before {
  content: '\e744'; }

/* '' */
.icon-resize-small:before {
  content: '\e746'; }

/* '' */
.icon-zoom-in:before {
  content: '\e750'; }

/* '' */
.icon-zoom-out:before {
  content: '\e751'; }

/* '' */
.icon-down-circle2:before {
  content: '\e758'; }

/* '' */
.icon-up-circle2:before {
  content: '\e75b'; }

/* '' */
.icon-down-open:before {
  content: '\e75c'; }

/* '' */
.icon-left-open:before {
  content: '\e75d'; }

/* '' */
.icon-right-open:before {
  content: '\e75e'; }

/* '' */
.icon-up-open:before {
  content: '\e75f'; }

/* '' */
.icon-arrows-cw:before {
  content: '\e760'; }

/* '' */
.icon-play-circle2:before {
  content: '\e761'; }

/* '' */
.icon-to-end-alt:before {
  content: '\e762'; }

/* '' */
.icon-to-start-alt:before {
  content: '\e763'; }

/* '' */
.icon-inbox:before {
  content: '\e777'; }

/* '' */
.icon-font:before {
  content: '\e779'; }

/* '' */
.icon-bold:before {
  content: '\e77a'; }

/* '' */
.icon-italic:before {
  content: '\e77b'; }

/* '' */
.icon-text-height:before {
  content: '\e77c'; }

/* '' */
.icon-text-width:before {
  content: '\e77d'; }

/* '' */
.icon-align-left:before {
  content: '\e77e'; }

/* '' */
.icon-align-center:before {
  content: '\e77f'; }

/* '' */
.icon-align-right:before {
  content: '\e780'; }

/* '' */
.icon-align-justify:before {
  content: '\e781'; }

/* '' */
.icon-list:before {
  content: '\e782'; }

/* '' */
.icon-indent-left:before {
  content: '\e783'; }

/* '' */
.icon-indent-right:before {
  content: '\e784'; }

/* '' */
.icon-off:before {
  content: '\e78e'; }

/* '' */
.icon-road:before {
  content: '\e78f'; }

/* '' */
.icon-list-alt:before {
  content: '\e790'; }

/* '' */
.icon-qrcode:before {
  content: '\e791'; }

/* '' */
.icon-barcode:before {
  content: '\e792'; }

/* '' */
.icon-ajust:before {
  content: '\e793'; }

/* '' */
.icon-tint:before {
  content: '\e794'; }

/* '' */
.icon-magnet:before {
  content: '\e7a1'; }

/* '' */
.icon-aboveground-rail:before {
  content: '\e800'; }

/* '' */
.icon-airport:before {
  content: '\e802'; }

/* '' */
.icon-bicycle:before {
  content: '\e80a'; }

/* '' */
.icon-cafe:before {
  content: '\e80c'; }

/* '' */
.icon-hospital:before {
  content: '\e821'; }

/* '' */
.icon-post:before {
  content: '\e82c'; }

/* '' */
.icon-swimming:before {
  content: '\e838'; }

/* '' */
.icon-move:before {
  content: '\f047'; }

/* '' */
.icon-link-ext:before {
  content: '\f08e'; }

/* '' */
.icon-check-empty:before {
  content: '\f096'; }

/* '' */
.icon-bookmark-empty:before {
  content: '\f097'; }

/* '' */
.icon-phone-squared:before {
  content: '\f098'; }

/* '' */
.icon-rss-1:before {
  content: '\f09e'; }

/* '' */
.icon-hdd:before {
  content: '\f0a0'; }

/* '' */
.icon-certificate:before {
  content: '\f0a3'; }

/* '' */
.icon-left-circled:before {
  content: '\f0a8'; }

/* '' */
.icon-right-circled:before {
  content: '\f0a9'; }

/* '' */
.icon-up-circled:before {
  content: '\f0aa'; }

/* '' */
.icon-down-circled:before {
  content: '\f0ab'; }

/* '' */
.icon-tasks:before {
  content: '\f0ae'; }

/* '' */
.icon-filter:before {
  content: '\f0b0'; }

/* '' */
.icon-resize-full-alt:before {
  content: '\f0b2'; }

/* '' */
.icon-beaker:before {
  content: '\f0c3'; }

/* '' */
.icon-docs:before {
  content: '\f0c5'; }

/* '' */
.icon-menu:before {
  content: '\f0c9'; }

/* '' */
.icon-list-bullet:before {
  content: '\f0ca'; }

/* '' */
.icon-list-numbered:before {
  content: '\f0cb'; }

/* '' */
.icon-strike:before {
  content: '\f0cc'; }

/* '' */
.icon-underline:before {
  content: '\f0cd'; }

/* '' */
.icon-table:before {
  content: '\f0ce'; }

/* '' */
.icon-magic:before {
  content: '\f0d0'; }

/* '' */
.icon-pinterest-circled:before {
  content: '\f0d2'; }

/* '' */
.icon-money:before {
  content: '\f0d6'; }

/* '' */
.icon-columns:before {
  content: '\f0db'; }

/* '' */
.icon-sort:before {
  content: '\f0dc'; }

/* '' */
.icon-sort-down:before {
  content: '\f0dd'; }

/* '' */
.icon-sort-up:before {
  content: '\f0de'; }

/* '' */
.icon-mail-alt:before {
  content: '\f0e0'; }

/* '' */
.icon-gauge:before {
  content: '\f0e4'; }

/* '' */
.icon-comment-empty:before {
  content: '\f0e5'; }

/* '' */
.icon-chat-empty:before {
  content: '\f0e6'; }

/* '' */
.icon-sitemap:before {
  content: '\f0e8'; }

/* '' */
.icon-lightbulb:before {
  content: '\f0eb'; }

/* '' */
.icon-exchange:before {
  content: '\f0ec'; }

/* '' */
.icon-download-cloud:before {
  content: '\f0ed'; }

/* '' */
.icon-upload-cloud:before {
  content: '\f0ee'; }

/* '' */
.icon-user-md:before {
  content: '\f0f0'; }

/* '' */
.icon-stethoscope:before {
  content: '\f0f1'; }

/* '' */
.icon-suitcase:before {
  content: '\f0f2'; }

/* '' */
.icon-bell-alt:before {
  content: '\f0f3'; }

/* '' */
.icon-coffee:before {
  content: '\f0f4'; }

/* '' */
.icon-food:before {
  content: '\f0f5'; }

/* '' */
.icon-doc-alt:before {
  content: '\f0f6'; }

/* '' */
.icon-building:before {
  content: '\f0f7'; }

/* '' */
.icon-hospital-1:before {
  content: '\f0f8'; }

/* '' */
.icon-ambulance:before {
  content: '\f0f9'; }

/* '' */
.icon-medkit:before {
  content: '\f0fa'; }

/* '' */
.icon-fighter-jet:before {
  content: '\f0fb'; }

/* '' */
.icon-beer:before {
  content: '\f0fc'; }

/* '' */
.icon-h-sigh:before {
  content: '\f0fd'; }

/* '' */
.icon-plus-squared:before {
  content: '\f0fe'; }

/* '' */
.icon-angle-double-left:before {
  content: '\f100'; }

/* '' */
.icon-angle-double-right:before {
  content: '\f101'; }

/* '' */
.icon-angle-double-up:before {
  content: '\f102'; }

/* '' */
.icon-angle-double-down:before {
  content: '\f103'; }

/* '' */
.icon-angle-left:before {
  content: '\f104'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
.icon-angle-up:before {
  content: '\f106'; }

/* '' */
.icon-angle-down:before {
  content: '\f107'; }

/* '' */
.icon-desktop:before {
  content: '\f108'; }

/* '' */
.icon-laptop:before {
  content: '\f109'; }

/* '' */
.icon-tablet:before {
  content: '\f10a'; }

/* '' */
.icon-mobile:before {
  content: '\f10b'; }

/* '' */
.icon-circle-empty:before {
  content: '\f10c'; }

/* '' */
.icon-quote-left:before {
  content: '\f10d'; }

/* '' */
.icon-quote-right:before {
  content: '\f10e'; }

/* '' */
.icon-spinner:before {
  content: '\f110'; }

/* '' */
.icon-circle:before {
  content: '\f111'; }

/* '' */
.icon-reply:before {
  content: '\f112'; }

/* '' */
.icon-folder-empty:before {
  content: '\f114'; }

/* '' */
.icon-folder-open-empty:before {
  content: '\f115'; }

/* '' */
.icon-facebook-squared:before {
  content: '\f308'; }

/* '' */
.icon-instagram-1:before {
  content: '\f31e'; }

/* '' */
.icon-instagram-filled:before {
  content: '\f31f'; }

/* '' */
.icon-picture:before {
  content: '🌄'; }

/* '\1f304' */
.icon-globe:before {
  content: '🌎'; }

/* '\1f30e' */
.icon-leaf:before {
  content: '🍂'; }

/* '\1f342' */
.icon-lemon:before {
  content: '🍋'; }

/* '\1f34b' */
.icon-gift:before {
  content: '🎁'; }

/* '\1f381' */
.icon-videocam:before {
  content: '🎥'; }

/* '\1f3a5' */
.icon-headphones:before {
  content: '🎧'; }

/* '\1f3a7' */
.icon-video:before {
  content: '🎬'; }

/* '\1f3ac' */
.icon-target:before {
  content: '🎯'; }

/* '\1f3af' */
.icon-award:before {
  content: '🏉'; }

/* '\1f3c9' */
.icon-thumbs-up:before {
  content: '👍'; }

/* '\1f44d' */
.icon-thumbs-down:before {
  content: '👎'; }

/* '\1f44e' */
.icon-user:before {
  content: '👤'; }

/* '\1f464' */
.icon-users:before {
  content: '👥'; }

/* '\1f465' */
.icon-credit-card:before {
  content: '💳'; }

/* '\1f4b3' */
.icon-briefcase:before {
  content: '💼'; }

/* '\1f4bc' */
.icon-floppy:before {
  content: '💾'; }

/* '\1f4be' */
.icon-folder:before {
  content: '📁'; }

/* '\1f4c1' */
.icon-folder-open:before {
  content: '📂'; }

/* '\1f4c2' */
.icon-doc:before {
  content: '📄'; }

/* '\1f4c4' */
.icon-calendar-1:before {
  content: '📅'; }

/* '\1f4c5' */
.icon-chart-bar:before {
  content: '📊'; }

/* '\1f4ca' */
.icon-pin:before {
  content: '📌'; }

/* '\1f4cc' */
.icon-attach:before {
  content: '📎'; }

/* '\1f4ce' */
.icon-book:before {
  content: '📕'; }

/* '\1f4d5' */
.icon-phone:before {
  content: '📞'; }

/* '\1f4de' */
.icon-megaphone:before {
  content: '📣'; }

/* '\1f4e3' */
.icon-upload:before {
  content: '📤'; }

/* '\1f4e4' */
.icon-download:before {
  content: '📥'; }

/* '\1f4e5' */
.icon-signal:before {
  content: '📶'; }

/* '\1f4f6' */
.icon-camera:before {
  content: '📷'; }

/* '\1f4f7' */
.icon-shuffle:before {
  content: '🔀'; }

/* '\1f500' */
.icon-volume-off:before {
  content: '🔇'; }

/* '\1f507' */
.icon-volume-down:before {
  content: '🔉'; }

/* '\1f509' */
.icon-volume-up:before {
  content: '🔊'; }

/* '\1f50a' */
.icon-search:before {
  content: '🔍'; }

/* '\1f50d' */
.icon-key:before {
  content: '🔑'; }

/* '\1f511' */
.icon-lock:before {
  content: '🔒'; }

/* '\1f512' */
.icon-lock-open:before {
  content: '🔓'; }

/* '\1f513' */
.icon-bell:before {
  content: '🔔'; }

/* '\1f514' */
.icon-bookmark:before {
  content: '🔖'; }

/* '\1f516' */
.icon-link:before {
  content: '🔗'; }

/* '\1f517' */
.icon-fire:before {
  content: '🔥'; }

/* '\1f525' */
.icon-wrench:before {
  content: '🔧'; }

/* '\1f527' */
.icon-hammer:before {
  content: '🔨'; }

/* '\1f528' */
.icon-clock:before {
  content: '🕔'; }

/* '\1f554' */
.icon-truck:before {
  content: '🚚'; }

/* '\1f69a' */
.icon-block:before {
  content: '🚫'; }

/* '\1f6ab' */
/**
 * Master Stylesheet
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* ==========================================================================
  CSS Functions
  ========================================================================== */
/* Calculate font-size, opacity, 
---------------------------------------------------------------------- */
/* Mixins (transition)
---------------------------------------------------------------------- */
/* Retiny Mixin
---------------------------------------------------------------------- */
.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.roundedTop {
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(/assets/images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/**
 * Style Sheet for Animations
 *
 * This stylesheet is comprised of font-face and typography being used throughout the site.
 * Please be aware to insert all or any type related declarations to the content of the
 * site in this stylesheet. 
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* --------------------------------------------------------------------------------------------------------------
	&= Animation 
--------------------------------------------------------------------------------------------------------------- */
.portrait {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-animation: fadein .3s .5s 1 forwards ease-in-out;
  -moz-animation: fadein .3s .5s 1 forwards ease-in-out;
  animation: fadein .3s .5s 1 forwards ease-in-out;
  opacity: 0; }

.home .navigation-desktop ul {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein .8s .5s 1 forwards ease-in-out;
  -moz-animation: fadein .8s .5s 1 forwards ease-in-out;
  animation: fadein .8s .5s 1 forwards ease-in-out;
  opacity: 0; }

.navigation-desktop ul {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein .2s .6s 1 forwards ease-in-out;
  -moz-animation: fadein .2s .6s 1 forwards ease-in-out;
  animation: fadein .2s .6s 1 forwards ease-in-out;
  opacity: 0; }

.title-desktop, body.home .title-mobile {
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-animation: fadein 1.2s .5s 1 forwards ease-in-out;
  -moz-animation: fadein 1.2s .5s 1 forwards ease-in-out;
  animation: fadein 1.2s .5s 1 forwards ease-in-out;
  opacity: 0; }

.portfolio {
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-animation: fadein 1.6s .8s 1 forwards ease-in-out;
  -moz-animation: fadein 1.6s .8s 1 forwards ease-in-out;
  animation: fadein 1.6s .8s 1 forwards ease-in-out;
  opacity: 0; }

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-80px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    -moz-transform: translateY(-20px);
    opacity: 0; }

  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }

/* Styles for IE9 */
.ie .portrait,
.ie .home .navigation-desktop,
.ie .navigation-desktop,
.ie .title-desktop,
.ie body.home .title-mobile,
.ie .title-desktop,
.ie body.home .title-mobile,
.ie .portfolio {
  opacity: 1; }

/* ==========================================================================
   Style in General
   ========================================================================== */
/**
 * Basic Styles
 *
 * This stylesheet is comprised of media query-agnostic styles such as link color,
 * color, background images, etc. used in this site.
 *
 * @tag This is a tag named 'tag'
 *
 * @todo This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */
/* ==========================================================================
   Basic styles
   ========================================================================== */
/* Links ---------------------- */
a img {
  border: none; }

a:link {
  font-weight: bold;
  color: #bf4d28;
  color: #bf4d28;
  text-decoration: underline; }

a:visited {
  font-weight: normal;
  color: rgba(191, 77, 40, 0.5); }

a:hover {
  color: rgba(191, 77, 40, 0.75);
  text-decoration: none; }

a:focus {
  color: #2795b6; }

p {
  font-size: 1em;
  line-height: 1.5em; }

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, "liberation sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased; }

/* ==========================================================================
   Animation
   ========================================================================== */
#animation {
  border: 1px solid blue;
  position: relative;
  overflow: hidden;
  width: 791px;
  height: 611px;
  background: url(../images/animation-bg.jpg) top left no-repeat; }
  #animation .ad-unit {
    position: absolute;
    width: 226px;
    height: 169px;
    top: 180px;
    right: 22px; }

#animation .anim-layout {
  width: 745px;
  height: 509px;
  background: url(../images/animation-layout.png) top left no-repeat;
  position: absolute;
  top: 80px;
  left: 23px;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  -moz-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  -o-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16); }

#animation .overlay {
  width: 745px;
  height: 509px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 80px;
  left: 23px;
  opacity: 0; }

#animation .anim-layout.focused {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

#animation .anim-ad-01 {
  background: url(../images/animation-ad-01.png) top left no-repeat;
  top: 180px;
  right: 22px;
  -webkit-transform: translate(250px, 0);
  -moz-transform: translate(250px, 0);
  -ms-transform: translate(250px, 0);
  -o-transform: translate(250px, 0);
  transform: translate(250px, 0);
  -webkit-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  -moz-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  -o-transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16);
  transition: all 430ms cubic-bezier(0.66, -0.19, 0.1, 1.16); }

#animation .anim-ad-01.focused {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: .75s;
  -moz-transition-delay: .75s;
  -o-transition-delay: .75s;
  transition-delay: 0.75s; }

#animation .anim-ad-02 {
  background: url(../images/animation-ad-02.png) top left no-repeat;
  opacity: 0; }

#animation .anim-ad-03 {
  background: url(../images/animation-ad-03.png) top left no-repeat;
  opacity: 0; }

#animation .mouse {
  width: 20px;
  height: 20px;
  background: url(../images/mouse.png) top left no-repeat;
  position: absolute;
  top: 300px;
  left: 260px; }

/* ==========================================================================
   Stacking Order
   ========================================================================== */
.row {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px 0;
  border-width: 0px 1px 1px 1px; }
  .row h5 {
    margin: 0 0 5px 0;
    font-size: 18px; }
  .row .browsers {
    font-size: 14px;
    margin: 0 0 6px 0;
    padding: 0; }

.example {
  margin: 0px;
  position: relative;
  height: 230px; }

.box {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  position: absolute;
  color: #333;
  padding: 10px;
  text-align: center; }

.box1 {
  left: 0px;
  background: #a44bff; }

.box2 {
  left: 60px;
  top: 30px;
  background: #4fb0b4; }

.box3 {
  left: 120px;
  top: 60px;
  background: #f7e68e; }

/* Example 01 */
.basic-one-example div .box1 {
  z-index: 0; }
.basic-one-example div .box2 {
  z-index: 0; }
.basic-one-example div .box3 {
  z-index: 0; }

/* Example 2: Apply z-index to parent */
.basic-two-example div:first-child {
  position: relative;
  z-index: 1; }
.basic-two-example div .box1 {
  z-index: 0; }
.basic-two-example div .box2 {
  z-index: 0; }
.basic-two-example div .box3 {
  z-index: 0; }

/* Example 03 */
.basic-three-example div .box1 {
  z-index: 3; }
.basic-three-example div .box2 {
  z-index: 4; }
.basic-three-example div .box3 {
  z-index: 1; }

/* Example 04 */
.basic-four-example div:last-child {
  position: relative;
  z-index: 3; }
.basic-four-example div .box1 {
  z-index: 3; }
.basic-four-example div .box2 {
  z-index: 2; }
.basic-four-example div .box3 {
  z-index: 1; }

/* Example 05 */
.basic-five-example div:last-child {
  position: relative;
  z-index: 3; }
.basic-five-example div .box1 {
  z-index: 3; }
.basic-five-example div .box2 {
  z-index: 2; }
.basic-five-example div .box3 {
  z-index: 1; }

/* Example 06 */
.basic-six-example div .box1 {
  position: static; }
.basic-six-example div .box2 {
  position: relative;
  top: -100px;
  left: 60px;
  z-index: 2; }

/* Example 07 */
.basic-seven-example div .box1 {
  position: absolute; }
.basic-seven-example div .box2 {
  position: relative;
  top: 40px;
  left: 60px;
  z-index: 1; }

/* Opacity Example */
.opacity-example div:first-child {
  opacity: .99; }
.opacity-example div .box1 {
  left: 0px;
  z-index: 1; }
.opacity-example div .box2 {
  left: 60px;
  top: 30px;
  z-index: 0; }
.opacity-example div .box3 {
  left: 120px;
  top: 60px;
  z-index: 0; }
